@font-face {
  font-family: "SF Pro Display Ultra Light Italic";
  src: url("SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Thin Italic";
  src: url("SFPRODISPLAYTHINITALIC.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Semi Bold Italic";
  src: url("SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url("SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url("SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Light Italic";
  src: url("SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Heavy Italic";
  src: url("SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url("SFPRODISPLAYBOLD.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Black Italic";
  src: url("SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
}

body {
  font-family: "SF Pro Display Regular", sans-serif;
}

h2 {
  font-family: "SF Pro Display Bold", sans-serif;
}

h3 {
  font-family: "SF Pro Display Regular", sans-serif;
}

h4 {
  font-family: "SF Pro Display Semi Bold Italic", sans-serif;
}

p {
  font-family: "SF Pro Display Medium", sans-serif;
}

a {
  font-family: "SF Pro Display Light Italic", sans-serif;
}

li {
  font-family: "SF Pro Display Regular", sans-serif;
}
html {
  color: #fff;
  background-color: #000000;
}

#container {
  .hidden {
    // display: none !important;
    height: 0 !important;
    padding: 0 !important;
  }
  .form-control {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .label {
      font-size: 20px;
      font-weight: 600;
      width: 60%;
    }
    .view-all-btn {
      color: #0984fd;
    }
  }
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  .phone-header {
    z-index: 10;
    position: fixed;
    background: #282828;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 16px;
    img {
      width: 24px;
      height: 12px;
      &.pin {
        margin-left: 4px;
      }
    }
  }
  .content {
    margin-top: 32px;
    padding: 18px 0;
    .header {
      display: flex;
      padding: 0 18px;
      .logo {
        border-radius: 16px;
        width: 104px;
      }
      .header_title {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        .header_title-content {
          .title {
            font-size: 20px;
          }
          .sub-title {
            font-size: 14px;
            margin-top: 4px;
            color: rgba(255, 255, 255, 0.45);
          }
        }
        .header_title-download {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .get {
            display: flex;
            align-items: center;
            .get-btn {
              font-size: 13px;
              font-weight: 600;
              text-transform: uppercase;
              background: #0984fd;
              border: none;
              outline: none;
              color: #fff;
              padding: 6px 12px;
              border-radius: 25px;
              &:active {
                background: rgba(#0984fd, 0.85);
              }
            }
            span {
              font-size: 8px;
              color: rgba(255, 255, 255, 0.45);
              margin-left: 8px;
            }
          }
          i {
            color: #0984fd;
          }
        }
      }
    }
    .sub-header {
      transition: height ease-in-out 0.3s;
      overflow: hidden;
      z-index: 10;
      position: fixed;
      height: 32px;
      top: 32px;
      left: 0;
      right: 0;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding: 4px 0;
      background: linear-gradient(#282828, #181818);
      .logo {
        width: 26px;
        border-radius: 8px;
      }
      .sub-header-get {
        .get-btn {
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          background: #0984fd;
          border: none;
          outline: none;
          color: #fff;
          padding: 6px 12px;
          border-radius: 25px;
          &:active {
            background: rgba(#0984fd, 0.85);
          }
        }
        span {
          font-size: 8px;
          color: rgba(255, 255, 255, 0.45);
          margin-right: 4px;
        }
      }
    }
    .line {
      margin: 18px 0;
      background: rgba(255, 255, 255, 0.1);
      height: 1px;
      width: 100%;
    }
    .information {
      overflow: hidden;
      overflow-x: scroll;
      max-width: 100vw;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }
      .information_content {
        padding: 0 18px;
        display: flex; 
        align-items: center;
        flex-wrap: nowrap;
        .content-item {
          min-width: 108px;
          text-align: center;
          .title {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.45);
            text-transform: uppercase;
          }
          .count {
            font-weight: 500;
            margin: 8px 0;
            color: rgba(255, 255, 255, 0.65);
            font-size: 20px;
          }
          .desc {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.45);
          }
        }
        .vertical-line {
          margin: 0 12px;
          background: rgba(255, 255, 255, 0.1);
          height: 30px;
          min-width: 1px;
        }
      }
    }

    .slider {
      margin-top: 32px;
      overflow: hidden;
      overflow-x: scroll;
      max-width: 100vw;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }
      .slider-content {
        padding: 0 18px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .slider-img {
          height: 150px;
          border-radius: 16px;
          margin-right: 8px;
          &:last-child {
            // margin-right: 0;
          }
        }
      }
    }

    .device {
      margin: 12px 0;
      padding: 0 18px;
      display: flex; 
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.45);
      .fa-solid {
        font-size: 16px;
      }
      .device-title {
        display: flex;
        align-items: center;
        .fa-tablet-screen-button {
          margin: 0 12px;
        }
      }
    }

    .description {
      overflow: hidden;
      padding: 0 18px;
      max-height: 50px;
      position: relative;
      .more-btn {
        position: absolute;
        bottom: 0;
        right: 18px;
        color: #0984fd;
        background: #000;
        padding-left: 8px;
        box-shadow: -10px -2px 15px #000;
      }
    }
    .author {
      padding: 0 18px;
      margin-top: 24px;
      margin-bottom: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgba(255, 255, 255, 0.45);
      .author-title {
        color: #0984fd;
        margin-bottom: 6px;
      }
      .author-label {
        font-size: 12px;
      }
    }

    .rate-cmt {
      padding: 0 18px;
      .rate-cmt__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rate-cmt__body--count {
          font-size: 60px;
          font-weight: 700;
        }
        .rate-cmt__body--rate {

          .rate-item {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 2;
            margin: 2px 0;
            .rate-item-star {
              color: rgba(255, 255, 255, 0.55);
              font-size: 5px;
              text-align: right;
            }
            .rate-item-line {
              grid-column: span 4 / span 4;
              margin-left: 12px;
              border-radius: 12px;
              background: rgba(255, 255, 255, 0.15);
              height: 4px;
              width: 165px;
              position: relative;
              overflow: hidden;
              .rate-line {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.55);
              }
            }
          }
        }
      }
      .rate-cmt__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(255, 255, 255, 0.55);
      }
    }

    .comment {
      padding: 0 18px;
      margin-top: 32px;
      overflow: hidden;
      overflow-x: scroll;
      max-width: 100vw;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }
      .comment-detail {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .comment-item {
          height: 150px;
          min-width: calc(100vw - 82px);
          padding: 16px 24px;
          background: #1c1c1e;
          border-radius: 16px;
          margin-right: 8px;
          &:last-child {
            // margin-right: 0;
          }
          .comment-item__header {
            display: flex;
            justify-content: space-between;
            .item__header-left {
              .name {
                font-weight: 600;
                margin-bottom: 4px;
              }
              .rate {
                color: #ff7805;
                font-size: 10px;
              }
            }
            .item__header-right {
              color: #98989a;
              .time {
                margin-bottom: 4px;
                text-align: right;
              }
              .sub-name {
                text-align: right;
              }
            }
          }
          .comment-item__content {
            margin-top: 12px;
          }
        }
      }
    }
    
    .feature {
      padding: 0 18px;
      padding-bottom: 32px;
      .feature-desc {
        display: flex; 
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.55);
        margin: 8px 0;
      }
      .feature-content {
        position: relative;
        .more-btn {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #0984fd;
        }
      }
    }
    
    .personal {
      padding: 0 18px;
      .personal-content {
        color: rgba(255, 255, 255, 0.55);
        margin-top: 8px;
        .policy {
          color: #0984fd;
          &:active {
            color: #0983fddf;
          }
        }
      }
    }

    .follow {
      margin: 32px 18px 0 18px;
      padding: 24px 18px;
      background: #1c1c1e;
      border-radius: 16px;
      .follow-icon {
        text-align: center;
        font-size: 24px;
        color: #0984fd;
        margin-bottom: 6px;
      }
      .follow-title {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      .follow-content {
        text-align: center;
        color: rgba(255, 255, 255, 0.45);
        font-weight: 300;
        line-height: 20px;
      }
      .follow-description {
        margin-top: 14px;
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .follow-item {
          i {
            margin-right: 8px;
          }
        }
      }
    }

    .privacy {
      padding: 0 18px;
      margin-top: 36px;
      color: rgba(255, 255, 255, 0.45);
      line-height: 20px;
      .view-more {
        color: rgba(#0984fd, 0.65);
      }
    }

    .app-infor {
      padding: 0 18px;
      .infor-title {
        font-size: 20px;
        font-weight: 600;
      }
      .infor-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &:last-child {
          border-bottom: none;
        }
        padding: 16px 0;
        .infor-label {
          color: rgba(255, 255, 255, 0.45);
        }
        .infor-value i {
          margin-left: 8px;
        }
        .infor-content {
          height: 0;
          display: none;
        }
      }
      .view-all {
        flex-direction: column;
        .infor-value {
          display: none;
        }
        .infor-content {
          display: block;
          height: auto;
          margin-top: 8px;
          .content-child {
            margin-bottom: 16px;
            font-size: 14px;
            .content-title {
              font-weight: 600;
              font-size: 16px;
            }
          }
          .buy-in-app {
            display: flex; 
            justify-content: space-between; 
            align-items: center;
            margin-bottom: 4px;
          }
        }
      }
    }
    .support {
      padding: 0 18px;
      margin-bottom: 36px;
      .support-title {
        font-size: 20px;
        font-weight: 600;
      }
      .support-content {
        margin-top: 16px;
        display: flex;
        img {
          width: 46px;
          height: 46px;
        }
        .support-desc {
          margin-left: 8px;
          .desc-content {
            margin-top: 2px;
            color: rgba(255, 255, 255, 0.45);
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
    
    .other-game {
      padding: 0 18px;
      .slider {
        margin-top: 32px;
        overflow: hidden;
        overflow-x: scroll;
        max-width: 100vw;
        box-sizing: border-box;
        &::-webkit-scrollbar {
          width: 0 !important;
          display: none;
        }
        .slider-content {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          padding: 0;
          .slider-item {
            margin-right: 16px;
            .slider-item-content {
              min-width: calc(100vw - 56px);
              display: flex;
              align-items: center;
              justify-content: space-between;
              .items-left {
                align-items: center;
                display: flex;
                .logo {
                  border-radius: 16px;
                  width: 52px;
                  margin-right: 12px;
                }
                .desc {
                  margin-top: 4px;
                  font-size: 12px;
                  color: rgba(255, 255, 255, 0.55);
                }
              }
              .items-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                .get-btn {
                  border: none;
                  outline: none;
                  background: #1d1920;
                  color: #0984fd;
                  padding: 4px 8px;
                  border-radius: 16px;
                  font-weight: 600;
                  text-transform: uppercase;
                  font-size: 12px;
                }
                .items-right-desc {
                  font-size: 8px;
                  margin-top: 6px;
                  color: rgba(255, 255, 255, 0.45);
                }
              }
            }
          }
        }
      }
    }
  }
}

.blue-text {
  color: #0984fd !important;
}
